[submodule "libsoc"]
	path = libsoc
	url = https://github.com/chip-community/libsoc.git
[submodule "gratis"]
	path = gratis
	url = https://github.com/jbaboval/gratis.git
[submodule "WeatherIcons"]
	path = WeatherIcons
	url = https://github.com/kickstandapps/WeatherIcons.git
[submodule "weather-icons"]
	path = weather-icons
	url = https://github.com/erikflowers/weather-icons
