[Unit]
Description=Alarm Clock
ConditionFileIsExecutable=/root/eink-alarm-clock/AlarmClock.py
After=epdd.service network-online.target

[Service]
Type=simple
ExecStart=/root/eink-alarm-clock/AlarmClock.py
PIDFile=/run/AlarmClock.pid
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
