[Unit]
Description=ePaper device driver daemon
ConditionFileIsExecutable=/root/eink-alarm-clock/gratis/PlatformWithOS/driver-common/epdd
After=systemd-journald.socket

[Service]
Type=simple
ExecStart=/root/eink-alarm-clock/gratis/PlatformWithOS/driver-common/epdd --panel=2.7 --spi=/dev/spidev32766.0
PIDFile=/run/epdd.pid
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
